@charset "UTF-8";

.wizard-steps {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.wizard-step {
	width: 100%;
	text-align: center;
	position: relative;
}

.wizard-step .step-circle {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	background: #008385; /* SAME COLOR */
	color: #fff;
	margin: 0 auto;
	font-weight: bold;
}

.wizard-step.inactive .step-circle {
	background: #cfcfcf;
}

.wizard-step .step-title {
	margin-top: 5px;
	font-weight: bold;
	color: #008385;
}

.wizard-step.inactive .step-title {
	color: #999;
}

.wizard-line {
	position: absolute;
	top: 17px;
	left: 50%;
	width: 100%;
	height: 3px;
	background: #cfcfcf;
	z-index: -1;
}

.wizard-step.completed .step-circle {
	background: #00a65a;
}

.form-container {
    background: #f9fafc;
    padding: 25px;
    margin-top: 10px;
    margin-right:10px;
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;          /* ✅ form scrolling */
    padding: 20px;
    
}